* {
    background-color: #93a2ab;
}


button {
    background: none;
    background-color: rgb(173, 202, 233) ;
    color: rgb(18, 23, 53);
    border: 2px solid;
    padding: 0.3em 0.3em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    font-family: 'Robot', sans-serif;
}


button:hover {
    border-color: #f1ff5c;
    color: rgb(18, 23, 53);
    box-shadow: 0 0.5em 0.5em -0.4em #ff7c43;
    transform: translateY(-0.25em);
    cursor: pointer;
    font-family: 'Robot', sans-serif;
}


#teleLogo {
    width: 100px;
    border: 2px solid;
    border-color:#f1ff5c;
}


.right {
    text-align: right;
    font-family: 'Robot', sans-serif;
    font-weight: 500;
    font-style:normal;
    background-color: rgb(18, 23, 53);
	padding:5px 10px;
	border-radius:10px;
	border:none;
}


h1 {
    color: rgb(18, 23, 53);
    border-color: #f1ff5c;
    font-family: 'Robot', sans-serif;
    text-align: center;
}


h2 {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Robot', sans-serif;
    letter-spacing: 5px;
    color: rgb(7, 31, 86);
}


h3 {
    color: rgb(18, 23, 53);
    font-weight: 900;
    font-size: 25px;
    font-family: 'Robot', sans-serif;
    margin-top: 5em;
}


#show-input {
    background: none;
    background-color: whitesmoke;
    color: rgb(18, 23, 53);
    border: 3px solid;
    padding: 0.3em 3.5em;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    font-family: 'Robot', sans-serif;
  
}


.show-card {
    text-align: center;  
}

#show-form {
    text-align: center;
}


#show-search {
    font-family: 'Robot', sans-serif;
    color: #121735;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    justify-content: center;
}


#show-section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    font-family: 'Robot', sans-serif;
}


#show-paragraph {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    font-family: 'Robot', sans-serif;
}