* {
    background-color: #a4c3f9;
}


button {
    background: none;
    background-color: rgb(152, 206, 242) ;
    color: rgb(18, 23, 53);
    border: 3px solid;
    padding: 0.35em 0.3em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    font-family: 'Robot', sans-serif;
}

button:hover {
    border-color: #f1ff5c;
    color: rgb(18, 23, 53);
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    font-family: 'Robot', sans-serif;
}

#teleLogo {
    width: 100px;
    border: 2px solid;
}

.right {
    text-align: right;
    font-family: 'Robot', sans-serif;
    font-weight: 500;
    font-style:normal;
    background-color: rgb(18, 23, 53);
	/* background: rgb(18, 23, 53); */
	padding:5px 10px;
	border-radius:10px;
	border:none;

}

h1 {
    color: rgb(18, 23, 53);
    font-family: 'Robot', sans-serif;
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 900;
    font-size: 39px;
    font-family: 'Robot', sans-serif;
    letter-spacing: 6px;
    color: rgb(7, 31, 86);
}


h3 {
    color: rgb(18, 23, 53);
    font-family: 'Robot', sans-serif;
    text-align: center;
}


#show-input {
    background: none;
    background-color: whitesmoke;
    color: rgb(18, 23, 53);
    border: 3px solid;
    padding: 0.35em 3.5em;
    font-size: 1em;
    font-weight: 500;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    font-family: 'Robot', sans-serif;
  
}


#show-form {
    text-align: center;  
}


#show-search {
    font-family: 'Robot', sans-serif;
    color: rgb(18, 23, 53);
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
}

#show-section {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    text-align: center;
    font-family: 'Robot', sans-serif;
}

/* CSS Text Properties
text-align
font-weight
text-decoration
line-height
letter-spacing */

/* Pseudo classes
:active
:checked
:first
:first-child
:hover
:not()
:nth-child()
:nth-of-type() */

/* {
    font-family: 'Robot', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
} */
